footer {
    display: flex;
    background-color: #191919;
    text-align: center;
    padding: 15px;
    justify-content: flex-start;
    clear: both;
    position: relative;
    margin-top: -50px;
    height: 20px;
  }
  
  footer ul {
    display: flex;
    margin-top: 3px;
  }

  footer ul li {
    padding: 0 0.4em;
  }

.demo_mode_disclaimer {
  margin-left: auto;
}  