body {
  margin: 0;
  padding: 0;
  background: #464646;
  color: white;
  height: 100%;
}

.wrapper {
  height: 90%;
}

.hero_wrapper {
  background-image: url('../images/background1.png');
  background-position: center;
  background-size: cover;
  text-align: center;

  position: relative;
  margin: 0 auto;

  height: 100%;
}

h1 {
  margin: 0 auto 2.5em;
  padding-top: 2.5em;
  font-size: 6em;
  max-width: 1100px;
}


.hero_wrapper button {
  background-image: url("../images/Masthead_Arrow.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 8em;
  height: 4em;
  background-position-y: center;
  padding: 0;
}

.hero_wrapper button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.hero_wrapper button:focus {
  outline: none;
}

@-moz-document url-prefix() {
  h1 {
    max-width: 1150px;
  }
}

@media screen and (max-height: 700px) {
  h1 {
    font-size: 4.5em;
    margin: 0 auto 0.5em;
    padding-top: 2em;
  }
  button {
    font-size: 3em;
  }
}

@media screen and (min-height: 700px) and (max-height: 900px) {
  h1 {
    font-size: 4.5em;
    margin: 0 auto 1.5em;
    padding-top: 2.5em;
  }
  button {
    font-size: 3em;
  }
}

@media screen and (max-width: 1200px) {
  header {
    font-size: small;
  }
  .names ul li{
    font-size: 1.1em;
  }
}