.results {
    padding: 1em;
    background-image: url('../images/background2.png');
    background-size: cover;
    background-position-y: -240px;
    padding-bottom: 5em;
}

h2 {
    text-align: center;
    font-size: 4em;
}
