.TrendList ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: .7em;
    font-size: larger;
}

.TrendList {
    margin: 0em 7em;
}

.list_div {
    margin: 2em 8em;
}

.TrendList ul li:hover {
    color: #A9A9A9;
    cursor: pointer;
}