.TrendList ul {
    display: flex;
    justify-content: space-around;
    padding-bottom: .7em;
    font-size: 2em;
}

.TrendList {
    padding-top: 4em;
    margin: 0em 7em;
}

.list_div {
    margin: 2em 8em;
}

.TrendList ul li:hover {
    color: #A9A9A9;
    cursor: pointer;
}

.menu-bar {
    margin: 4em;
    height: 7em;
    background-color: rgba(0, 78, 167, 0.3);
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.menu-bar button {
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 3em;
    height: 100%;
    background-position-y: center;
    padding: 0;
}

.menu-bar button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.menu-bar button:focus {
    outline: none;
}

.left_button {
    background-image: url('../images/Quick_Access_Arrow_left.png');
    margin-left: .7em;
}

.right_button {
    background-image: url('../images/Quick_Access_Arrow_right.png');
    margin-right: .7em;
}

.trendmenublock {
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}

.trendNumber {
    font-family: 'BebasNeue';
    margin-bottom: .7em;
    margin-top: .6em;
}